.Header {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
  padding: 0 20px;
}

.Header-btn-menu,
.Header-btn-cancel {
  display: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.Header-btn-menu:focus,
.Header-btn-cancel:focus {
  outline: none;
}

.Header-nav {
  display: flex;
  justify-content: space-between;
}

.Header-tab {
  margin: 0 15px;
  padding: 5px 0;
  border-bottom: 2px solid #EFEFEF;
  color: #333333;
  text-decoration: none;
}

.Header-tab:hover {
  border-bottom: 2px solid #333333;
}

.is-selected {
  color: #288AE2;
  border-bottom: 2px solid #288AE2;
}

#contact-me {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  color: #FFF;
  background-color: #288AE2;
  border: 1px solid #288AE2;
  border-radius: 20px;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.2s;
}

#contact-me:hover {
  transform: scale(1.1);
}

#contact-me:focus {
  outline: none;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.05), 0 14px 45px rgba(0, 0, 0, 0.05);
}
