.ProfileCarousel {
  position: relative;
  top: -25px;
  width: 450px;
  height: 450px;
  min-width: 450px;
  margin-right: 40px;
  animation: slide-left 0.2s;
  border-radius: 50%;
  overflow: hidden;
}

.ProfileCarousel-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s;
}

.ProfileCarousel-viewbox {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}
